*
  box-sizing border-box
  -webkit-tap-highlight-color transparent
::-webkit-scrollbar 
  width 6px
  height 6px
::-webkit-scrollbar-thumb
  border-radius 4px
  background #aaa
::-webkit-scrollbar-track
  background-color transparent
::selection
  background-color #00f2
html
  scroll-behavior smooth
body
nav
ul
li
a
p
h1
h2
h3
h4
h5
h6
  margin 0
  padding 0
input
  outline none
img
  -webkit-user-drag none
ul
  list-style none
input
  outline none
a
  color inherit
  text-decoration inherit
//
//  margin
//
.m-0
  margin 0
.m-l-0
  margin-left 0
.m-r-0
  margin-right 0
.m-lr-0
  margin-left 0
  margin-right 0
.m-t-0
  margin-top 0
.m-b-0
  margin-bottom 0
.m-tb-0
  margin-top 0
  margin-bottom 0
.m-auto
  margin auto
.m-l-auto
  margin-left auto
.m-r-auto
  margin-right auto
.m-lr-auto
  margin-left auto
  margin-right auto
.m-t-auto
  margin-top auto
.m-b-auto
  margin-bottom auto
.m-tb-auto
  margin-top auto
  margin-bottom auto
.m-sm
  margin 4px
.m-l-sm
  margin-left 4px
.m-r-sm
  margin-right 4px
.m-lr-sm
  margin-left 4px
  margin-right 4px
.m-t-sm
  margin-top 4px
.m-b-sm
  margin-bottom 4px
.m-tb-sm
  margin-top 4px
  margin-bottom 4px
.m
  margin 8px
.m-l
  margin-left 8px
.m-r
  margin-right 8px
.m-lr
  margin-left 8px
  margin-right 8px
.m-t
  margin-top 8px
.m-b
  margin-bottom 8px
.m-tb
  margin-top 8px
  margin-bottom 8px
.m-lg
  margin 12px
.m-l-lg
  margin-left 12px
.m-r-lg
  margin-right 12px
.m-lr-lg
  margin-left 12px
  margin-right 12px
.m-t-lg
  margin-top 12px
.m-b-lg
  margin-bottom 12px
.m-tb-lg
  margin-top 12px
  margin-bottom 12px
.m-ex
  margin 16px
.m-l-ex
  margin-left 16px
.m-r-ex
  margin-right 16px
.m-lr-ex
  margin-left 16px
  margin-right 16px
.m-t-ex
  margin-top 16px
.m-b-ex
  margin-bottom 16px
.m-tb-ex
  margin-top 16px
  margin-bottom 16px
.m-mx
  margin 24px
.m-l-mx
  margin-left 24px
.m-r-mx
  margin-right 24px
.m-lr-mx
  margin-left 24px
  margin-right 24px
.m-t-mx
  margin-top 24px
.m-b-mx
  margin-bottom 24px
.m-tb-mx
  margin-top 24px
  margin-bottom 24px
//
//  内边距
//
.p-0
  padding 0
.p-l-0
  padding-left 0
.p-r-0
  padding-right 0
.p-lr-0
  padding-left 0
  padding-right 0
.p-t-0
  padding-top 0
.p-b-0
  padding-bottom 0
.p-tb-0
  padding-top 8px
  padding-bottom 8px
//  小  //
.p-sm
  padding 4px
.p-l-sm
  padding-left 4px
.p-r-sm
  padding-right 4px
.p-lr-sm
  padding-left 4px
  padding-right 4px
.p-t-sm
  padding-top 4px
.p-b-sm
  padding-bottom 4px
.p-tb-sm
  padding-top 4px
  padding-bottom 4px
//  中  //
.p
  padding 8px
.p-l
  padding-left 8px
.p-r
  padding-right 8px
.p-lr
  padding-left 8px
  padding-right 8px
.p-t
  padding-top 8px
.p-b
  padding-bottom 8px
.p-tb
  padding-top 8px
  padding-bottom 8px
//  大  //
.p-lg
  padding 12px
.p-l-lg
  padding-left 12px
.p-r-lg
  padding-right 12px
.p-lr-lg
  padding-left 12px
  padding-right 12px
.p-t-lg
  padding-top 12px
.p-b-lg
  padding-bottom 12px
.p-tb-lg
  padding-top 12px
  padding-bottom 12px
//  超大  //
.p-ex
  padding 16px
.p-l-ex
  padding-left 16px
.p-r-ex
  padding-right 16px
.p-lr-ex
  padding-left 16px
  padding-right 16px
.p-t-ex
  padding-top 16px
.p-b-ex
  padding-bottom 16px
.p-tb-ex
  padding-top 16px
  padding-bottom 16px
//  最大  //
.p-mx
  padding 24px
.p-l-mx
  padding-left 24px
.p-r-mx
  padding-right 24px
.p-lr-mx
  padding-left 24px
  padding-right 24px
.p-t-mx
  padding-top 24px
.p-b-mx
  padding-bottom 24px
.p-tb-mx
  padding-top 24px
  padding-bottom 24px
//
//  width
//
.w-0
  width 0
.w-5
  width 5%
.w-10
  width 10%
.w-15
  width 15%
.w-20
  width 20%
.w-25
  width 25%
.w-30
  width 30%
.w-35
  width 35%
.w-40
  width 40%
.w-45
  width 45%
.w-50
  width 50%
.w-55
  width 55%
.w-60
  width 60%
.w-65
  width 65%
.w-70
  width 70%
.w-75
  width 75%
.w-80
  width 80%
.w-85
  width 85%
.w-90
  width 90%
.w-95
  width 95%
.w-100
  width 100%
.w-auto
  width: auto
//
//  height
//
.h-0
  height 0
.h-5
  height 5%
.h-10
  height 10%
.h-15
  height 15%
.h-20
  height 20%
.h-25
  height 25%
.h-30
  height 30%
.h-35
  height 35%
.h-40
  height 40%
.h-45
  height 45%
.h-50
  height 50%
.h-55
  height 55%
.h-60
  height 60%
.h-65
  height 65%
.h-70
  height 70%
.h-75
  height 75%
.h-80
  height 80%
.h-85
  height 85%
.h-90
  height 90%
.h-95
  height 95%
.h-100
  height 100%
.h-auto
  height auto
//
//  display
//
.d-block
  display block
.d-inline
  display inline
.d-inline-block
  display inline-block
.d-grid
  display grid
.d-flex
  display flex
.d-none
  display none
//
//  position
//
.position-relative
  position relative
.position-absolute
  position absolute
.position-fixed
  position fixed
.position-center
  top 0
  left 0
  right 0
  bottom 0
  margin auto
.position-lr-center
  left 0
  right 0
  margin auto
.position-tb-center
  top 0
  bottom 0
  margin auto
//
//  font & text
//
.text-left
  text-align left
.text-right
  text-align right
.text-center
  text-align center
.text-size-m
  font-size 12px
.text-size-sm
  font-size 16px
.text-size-normal
  font-size 18px
.text-size-lg
  font-size 20px
.text-size-ex
  font-size 24px
.text-size-mx
  font-size 28px
.text-weight-bold
  font-weight bolder
.text-weight-normal
  font-weight normal
.text-weight-light
  font-weight lighter
.text-shadow
  text-shadow 0 0 3px #000
.text-shadow-light
  text-shadow 0 0 3px #ddd
.text-indent-m
  text-indent 2px
.text-indent-sm
  text-indent 4px
.text-indent
  text-indent 8px
.text-indent-lg
  text-indent 10px
.text-indent-ex
  text-indent 14px
.text-indent-mx
  text-indent 18px
.text-overflow-ellipsis
  text-overflow ellipsis
.white-space-nowrap
  white-space nowrap
.letter-spacing-m
  letter-spacing 1px
.letter-spacing-sm
  letter-spacing 2px
.letter-spacing
  letter-spacing 4px
.letter-spacing-lg
  letter-spacing 6px
.letter-spacing-ex
  letter-spacing 8px
.letter-spacing-mx
  letter-spacing 10px
//
//  边框与圆角效果
//
.border-none
  border 0
.border-solid
  border 1px solid #0001
.border-dashed
  border 1px dashed #0001
.border-radius-none
  border-radius 0
.border-radius-m
  border-radius 2px
.border-radius-sm
  border-radius 4px
.border-radius
  border-radius 8px
.border-radius-lg
  border-radius 16px
.border-radius-mx
  border-radius 32px
.border-radius-ex
  border-radius 48px
//
//  其他效果
//
.scrollbar-hide
  scrollbar-width none
.scrollbar-hide::-webkit-scrollbar
  display none
.float-left
  float left
.float-right
  float right
.pointer
  cursor: pointer
.penetrate
  pointer-events none
.object-fit-cover
  object-fit cover
.overflow-hide
  overflow hidden
.overflow-x-hide
  overflow-x hidden
.overflow-y-hide
  overflow-y hidden
.overflow-auto
  overflow auto
.overflow-x-auto
  overflow-x auto
.overflow-y-auto
  overflow-y auto
.box-shadow
  box-shadow 0 0 6px #0002
.box-shadow-lg
  box-shadow 0 0 10px #0002
.box-shadow-light
  box-shadow 0 0 6px #fff2
.box-shadow-light-lg
  box-shadow 0 0 10px #fff2
.border-box
  box-sizing border-box
.transition
  transition all .3s
.transition-ease-in-out
  transition all .3s ease-in-out
.transition-ease-out
  transition all .3s ease-out
.blur
  backdrop-filter blur(.5rem)
.blur-lg
  backdrop-filter blur(1rem)
.list-style-none
  list-style none
.text-overflow-ellipsis
  white-space nowrap
  text-overflow ellipsis
  overflow hidden