@import './assets/stylus/style.styl'

@font-face {
  font-family: FusionPixel;
  src: url('assets/fusion-pixel.ttc');
}

body
  color #fff
  font-size 14px
  line-height 1.2
  width 100vw
  height 100vh
  background-color #000
  overflow hidden
