@import './assets/stylus/style.styl'
body
  color #fff
  font 16px/1.2 "PingFang SC", "Microsoft YaHei", sans-serif
  background-color #000
  overflow hidden
.fade-enter-active,
.fade-leave-active
  transform translateX(-100%)
  transition all .3s cubic-bezier(1, 0, 0, 1)