@import './assets/stylus/style.styl'

@font-face
  font-family 'LXGWNeoXiHei'
  src url('./assets/LXGWNeoXiHei.ttf')

body
  color #fff
  font 14px/1.2 "LXGWNeoXiHei"
  background-color #000
  overflow hidden
